@{
    ViewData["Title"] = "Home Page";
}

@*做顆按鈕*@
<button id="authApi">拜訪需要權限的的API</button>

@section Scripts{
    <script>
        authApi.onclick = ()=>{
            fetch('/api/Token/TestAuth' , {
                headers:{
                    Authorization: `Bearer ${Cookies.get(jwtNameInCookie)}`
                }
            })
        }
    </script>
}