@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*做顆按鈕*@
    <button id="authApi">拜訪需要權限的的API</button>
</div>

@section Scripts{
    <script>
        document.querySelector('#authApi').onclick = ()=>{
            fetch('api/Token/TestAuth' , {
                headers:{
                    Authorization: `Bearer ${Cookies.get(jwtNameInCookie)}`
                }
            })
        }
    </script>
}